.home-main {
  background-color: var(--lightgrey);
  min-height: 100vh;
  padding: 3rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.quiz-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin: 50px 20px;
  padding: 2rem;
  align-items: center;
  max-width: 600px;
  position: relative;
  order: 0;
}
.quiz-card__bookmark {
  width: 2.4rem;
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}
.quiz-card h1 {
  font-size: 1.4rem;
  color: var(--darkgrey);
  padding: 0 0 2rem 0;
}

.quiz-card p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 5rem;
  font-style: italic;
  color: var(--blue);
  text-align: center;
  font-weight: 100;
}
strong {
  background-color: var(--lightgrey);
  color: var(--blue);
  font-size: 1rem;
  line-height: 1.8rem;
  font-family: "Lucida Console", "Courier New", monospace;
}
.quiz-card button {
  padding: 1.2rem 0.2rem;
  font-size: 0.8rem;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border: 0.1rem solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
  margin-bottom: 3.4rem;
  width: 10rem;
}
.quiz-card button:hover {
  padding: 1.2rem 0.4rem;
  transition: 0.8s;
}
.quiz-card__tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
}
.quiz-card li:before {
  content: "#";
}
.quiz-card li {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-style: italic;
  padding: 0.5rem;
  background-color: var(--lightgrey);
  color: var(--darkgrey);
}
