.home-main {
  background-color: var(--white);
  min-height: 100vh;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quiz-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 50px 20px;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  position: relative;
  order: 0;
  width: 100%;
  box-shadow: 0px 05px 20px rgba(0, 0, 0, 0.08);
}

.quiz-card__bookmark {
  width: 2.5rem;
  height: auto;
  position: absolute;
  top: -0.5rem;
  right: 1.4rem;
  cursor: pointer;
}

.quiz-card p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 5rem;
  font-style: italic;
  color: var(--primary-color);
  text-align: center;
  font-weight: 100;
}
strong {
  background-color: var(--lightgrey);
  color: var(--blue);
  font-size: 1rem;
  line-height: 1.8rem;
  font-family: "Lucida Console", "Courier New", monospace;
}
.quiz-card__answer-button {
  padding: 1.2rem 0.2rem;
  border-radius: 10px;
  align-self: center;
  font-size: 0.8rem;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 2px var(--primary-color);
  background-color: var(--white);
  color: var(--primary-color);
  margin-bottom: 3.4rem;
  width: 10rem;
}

.quiz-card__tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
}
.quiz-card li:before {
  content: "#";
}
.quiz-card li {
  font-size: 1rem;
  line-height: 1.2rem;
  font-style: italic;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--quinary-color);
  color: var(--primary-color);
}
